p {
    font-family: serif;
    font-size: 18px;
    width: 600px;
    max-width: 100%;
    margin 0: auto;
    padding: 10px 20px;
    line-height: 1.3;
    font-weight: 700px;
    text-decoration: none;
    display: inLine-block;
}

a :hover {
        background-color: orange;
         color: black;
}

a:visited {
    background-color: black;
}

a:active {
    background-color: grey;
}


